@model Hotel

<div class="container py-5 " dir="rtl">
    <div class="alert alert-success">تعديل بيانات الفندق</div>

    <div class="row py-5">
        <form asp-controller="Dashbard" asp-action="Update" method="post" class="col-md-9 m-auto">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="name">اسم الفندق</label>
                    <input type="text" class="form-control mt-1" id="name" name="name" asp-for="@Model.Name" />
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="Address">عنوان الفندق</label>
                    <input type="text" class="form-control mt-1" id="Address" name="Address" asp-for="@Model.Address" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="City">المدينه</label>
                    <input type="text" class="form-control mt-1" id="City" name="City" asp-for="@Model.City" />
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="Email">البريد الإليكتروني</label>
                    <input type="text" class="form-control mt-1" id="Email" name="Email" asp-for="@Model.Email" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="Phone">رقم الهاتف</label>
                    <input type="text" class="form-control mt-1" id="Phone" name="Phone" asp-for="@Model.Phone" />
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="Images">الصوره</label>
                    <input type="text" class="form-control mt-1" id="Images" name="Images" asp-for="@Model.Images" />
                </div>
            </div>

            <div class=" row mt-3">
            <div class="col text-center">
                <button class="btn btn-success" type="submit">حفظ</button>
            </div>
    </div>
    </form>
</div>
</div>